<!DOCTYPE html>
<html lang="en-uk">

    <head>
        <meta charset="utf-8">
        <title>Planet Universe</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
    </head>

    <body>

        <header>
            <h1>Planets of the Universe Header</h1>
            {% include nav.html navclass ='nav-top' %}
        </header>
        
        {{content}}

        <footer>
            {% include nav.html navclass='nav-bottom' %}
            <p>2020 Nuzaweb</p>
        </footer>

    </body>
</html>